{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <div class="media">
      <img class="rounded shadow mr-3" src="{{ object.photo.url }}" style="max-width: 20vw;"/>
      <div class="media-body">
        <h1 class="h5">{{ object.name }}</h1>
        <p>{{ object.description }}</p>
        <div>
          <strong> Groups: </strong>
          {% for group in object.groups.all %}
            <a href="{{ group.get_absolute_url }}">{{ group }}</a>
          {% endfor %}
        </div>
        <a class="btn btn-primary" href="{% url 'homeinv:item-placed-create' object.pk %}">Add placement</a>
        <a class="btn btn-secondary" href="{% url 'homeinv:item-update' object.pk %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'homeinv:item-delete' object.pk %}">Delete</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div>
    {% for itemplaced in object.itemplaced_set.all %}
      <div>
        {{ itemplaced.description }} - {{ itemplaced.count }}
        <a href="{% url 'homeinv:item-placed-update' itemplaced.pk %}">Edit</a>
        <a href="{% url 'homeinv:item-placed-delete' itemplaced.pk %}">Delete</a>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
