[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[dev-packages]

pylint = "*"
"pep8" = "*"


[packages]

django = "~=2.0.5"
pillow = "~=5.1.0"
django-crispy-forms = "*"
